<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Photo studio home</title>
    <link rel="stylesheet" href="/static/style/style.css" th:href="@{/style/style.css}"/>
</head>
<body>
    <h1>PHOTO STUDIO "LENS"</h1>
    <table>
        <tr>
            <td width="800px" class="text-td"><p class="accent-text">capture the best moments of life</p></td>
            <td><p class="images"><img th:src="@{/images/photo1.jpeg}" height="100%" width="100%"/></p></td>
        </tr>
    </table>
</body>
</html>