<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style/style.css" th:href="@{/style/style.css}"/>
</head>
<body>
    <h1>LOGIN</h1>
    <p class="images"><img th:src="@{/images/photo1.jpeg}" height="50%" width="50%"/></p>

    <div th:if="${error}">
        <p>Unable to login. Check your username and password.</p>
    </div>

    <p>New here? Click
        <a th:href="@{/register}">here</a> to register.</p>

    <form method="POST" th:action="@{/login}" id="loginForm">

        <label for="username">Username: </label>
        <input id="username" type="text" name="username"/><br/>

        <label for="password">Password: </label>
        <input id="password" type="password" name="password"/><br/>

        <input type="submit" value="Login"/>
    </form>
</body>
</html>