<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order photo session</title>
    <link rel="stylesheet" href="/static/style/style.css" th:href="@{/style/style.css}"/>
</head>
<body>

    <form method="POST" th:action="@{/orders}" th:object="${order}">
        <h1>ORDER YOUR PHOTO SESSION</h1>

        <a th:href="@{/services}" id="another">Create another photo session</a><br/>

        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Please correct the problems below and resubmit.
            </span>
        </div>

        <h3>Order in th name of...</h3>
        <label for="name">Name: </label>
        <input id="name" type="text" th:field="*{name}"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>

        <br/>

        <h3>Here's how I'll pay...</h3>

        <label for="ccNumber">Credit Card #: </label>
        <input id="ccNumber" type="text" th:field="*{ccNumber}"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('ccNumber')}"
              th:errors="*{ccNumber}">CC Num Error</span>

        <br/>

        <label for="ccExpiration">Expiration: </label>
        <input id="ccExpiration" type="text" th:field="*{ccExpiration}"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('ccExpiration')}"
              th:errors="*{ccExpiration}">CC Num Error</span>

        <br/>

        <label for="ccCVV">CVV: </label>
        <input id="ccCVV" type="text" th:field="*{ccCVV}"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('ccCVV')}"
              th:errors="*{ccCVV}">CC Num Error</span>

        <br/>

        <input type="submit" value="Submit order"/>
    </form>

</body>
</html>